<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Minorproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HandleFaculty</servlet-name>
    <servlet-class>HandleFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleFaculty</servlet-name>
    <url-pattern>/HandleFaculty</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Question1</servlet-name>
    <servlet-class>Question1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question1</servlet-name>
    <url-pattern>/Question1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question2</servlet-name>
    <servlet-class>Question2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question2</servlet-name>
    <url-pattern>/Question2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question3</servlet-name>
    <servlet-class>Question3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question3</servlet-name>
    <url-pattern>/Question3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question4</servlet-name>
    <servlet-class>Question4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question4</servlet-name>
    <url-pattern>/Question4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question5</servlet-name>
    <servlet-class>Question5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question5</servlet-name>
    <url-pattern>/Question5</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question6</servlet-name>
    <servlet-class>Question6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question6</servlet-name>
    <url-pattern>/Question6</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question7</servlet-name>
    <servlet-class>Question7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question7</servlet-name>
    <url-pattern>/Question7</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question8</servlet-name>
    <servlet-class>Question8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question8</servlet-name>
    <url-pattern>/Question8</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question9</servlet-name>
    <servlet-class>Question9</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question9</servlet-name>
    <url-pattern>/Question9</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question10</servlet-name>
    <servlet-class>Question10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question10</servlet-name>
    <url-pattern>/Question10</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jfreepie</servlet-name>
    <servlet-class>Jfreepie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jfreepie</servlet-name>
    <url-pattern>/Jfreepie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleStudent</servlet-name>
    <servlet-class>HandleStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleStudent</servlet-name>
    <url-pattern>/HandleStudent</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>HandleAlumni</servlet-name>
    <servlet-class>HandleAlumni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleAlumni</servlet-name>
    <url-pattern>/HandleAlumni</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleEmployee</servlet-name>
    <servlet-class>HandleEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleEmployee</servlet-name>
    <url-pattern>/HandleEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleParent</servlet-name>
    <servlet-class>HandleParent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleParent</servlet-name>
    <url-pattern>/HandleParent</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>JfreepieEmployee</servlet-name>
    <servlet-class>JfreepieEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JfreepieEmployee</servlet-name>
    <url-pattern>/JfreepieEmployee</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>JfreepieStudent</servlet-name>
    <servlet-class>JfreepieStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JfreepieStudent</servlet-name>
    <url-pattern>/JfreepieStudent</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>JfreepieParent</servlet-name>
    <servlet-class>JfreepieParent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JfreepieParent</servlet-name>
    <url-pattern>/JfreepieParent</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>JfreepieAlumni</servlet-name>
    <servlet-class>JfreepieAlumni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JfreepieAlumni</servlet-name>
    <url-pattern>/JfreepieAlumni</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question11</servlet-name>
    <servlet-class>Question11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question11</servlet-name>
    <url-pattern>/Question11</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question12</servlet-name>
    <servlet-class>Question12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question12</servlet-name>
    <url-pattern>/Question12</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question13</servlet-name>
    <servlet-class>Question13</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question13</servlet-name>
    <url-pattern>/Question13</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question14</servlet-name>
    <servlet-class>Question14</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question14</servlet-name>
    <url-pattern>/Question14</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question15</servlet-name>
    <servlet-class>Question15</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question15</servlet-name>
    <url-pattern>/Question15</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question16</servlet-name>
    <servlet-class>Question16</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question16</servlet-name>
    <url-pattern>/Question16</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question17</servlet-name>
    <servlet-class>Question17</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question17</servlet-name>
    <url-pattern>/Question17</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question18</servlet-name>
    <servlet-class>Question18</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question18</servlet-name>
    <url-pattern>/Question18</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question19</servlet-name>
    <servlet-class>Question19</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question19</servlet-name>
    <url-pattern>/Question19</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question20</servlet-name>
    <servlet-class>Question20</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question20</servlet-name>
    <url-pattern>/Question20</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question21</servlet-name>
    <servlet-class>Question21</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question21</servlet-name>
    <url-pattern>/Question21</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question22</servlet-name>
    <servlet-class>Question22</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question22</servlet-name>
    <url-pattern>/Question22</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question23</servlet-name>
    <servlet-class>Question23</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question23</servlet-name>
    <url-pattern>/Question23</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question24</servlet-name>
    <servlet-class>Question24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question24</servlet-name>
    <url-pattern>/Question24</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question25</servlet-name>
    <servlet-class>Question25</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question25</servlet-name>
    <url-pattern>/Question25</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question26</servlet-name>
    <servlet-class>Question26</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question26</servlet-name>
    <url-pattern>/Question26</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question27</servlet-name>
    <servlet-class>Question27</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question27</servlet-name>
    <url-pattern>/Question27</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question28</servlet-name>
    <servlet-class>Question28</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question28</servlet-name>
    <url-pattern>/Question28</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question29</servlet-name>
    <servlet-class>Question29</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question29</servlet-name>
    <url-pattern>/Question29</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question30</servlet-name>
    <servlet-class>Question30</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question30</servlet-name>
    <url-pattern>/Question30</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question31</servlet-name>
    <servlet-class>Question31</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question31</servlet-name>
    <url-pattern>/Question31</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question32</servlet-name>
    <servlet-class>Question32</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question32</servlet-name>
    <url-pattern>/Question32</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question33</servlet-name>
    <servlet-class>Question33</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question33</servlet-name>
    <url-pattern>/Question33</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question34</servlet-name>
    <servlet-class>Question34</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question34</servlet-name>
    <url-pattern>/Question34</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question35</servlet-name>
    <servlet-class>Question35</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question35</servlet-name>
    <url-pattern>/Question35</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question36</servlet-name>
    <servlet-class>Question36</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question36</servlet-name>
    <url-pattern>/Question36</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question37</servlet-name>
    <servlet-class>Question37</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question37</servlet-name>
    <url-pattern>/Question37</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question38</servlet-name>
    <servlet-class>Question38</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question38</servlet-name>
    <url-pattern>/Question38</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question39</servlet-name>
    <servlet-class>Question39</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question39</servlet-name>
    <url-pattern>/Question39</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question40</servlet-name>
    <servlet-class>Question40</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question40</servlet-name>
    <url-pattern>/Question40</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question41</servlet-name>
    <servlet-class>Question41</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question41</servlet-name>
    <url-pattern>/Question41</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question42</servlet-name>
    <servlet-class>Question42</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question42</servlet-name>
    <url-pattern>/Question42</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question43</servlet-name>
    <servlet-class>Question43</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question43</servlet-name>
    <url-pattern>/Question43</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question44</servlet-name>
    <servlet-class>Question44</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question44</servlet-name>
    <url-pattern>/Question44</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question45</servlet-name>
    <servlet-class>Question45</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question45</servlet-name>
    <url-pattern>/Question45</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question46</servlet-name>
    <servlet-class>Question46</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question46</servlet-name>
    <url-pattern>/Question46</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question47</servlet-name>
    <servlet-class>Question47</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question47</servlet-name>
    <url-pattern>/Question47</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question48</servlet-name>
    <servlet-class>Question48</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question48</servlet-name>
    <url-pattern>/Question48</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question49</servlet-name>
    <servlet-class>Question49</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question49</servlet-name>
    <url-pattern>/Question49</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question50</servlet-name>
    <servlet-class>Question50</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question50</servlet-name>
    <url-pattern>/Question50</url-pattern>
  </servlet-mapping>
 
  
  
</web-app>
</element>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" id="WebApp_ID">
	<display-name>Minorproject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
